
    textarea{
border-color:teal;
border-style:solid;
height:50px;
width:5000px; 
font-family: 'MinecraftiaRegular';
font-weight: normal;
font-style: normal;

}
body{
background-color:teal;
font-family: 'MinecraftiaRegular';
font-weight: normal;
font-style: normal;

}


